//- Project

- const projectName = "Responsive Real State Website"

//- Company

-const companyName = "Holux"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = []

//- Data

//- Cards

//- Items

//- Sections
