//- Project

- const projectName = "Responsive Real State Website"

//- Company

-const companyName = "Holux"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = [{ label: "Home", ref: "home", icon: "bx bx-home-alt-2" }, { label: "Residences", ref: "popular", icon: "bx bx-building-house" }, { label: "Value", ref: "value", icon: "bx bx-award" }, { label: "Contact", ref: "contact", icon: "bx bx-phone" }]

//- Data

-const valueData = [{ title: "9K", descr: "Premium<br />Product" }, { title: "28K", descr: "Happy<br />Customers" }, { title: "2K", descr: "Awards<br />Winning" }]

//- Cards

//- Items

//- Sections
