//- Project

- const projectName = "Responsive Real State Website"

//- Company

-const companyName = "Holux"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = [{ label: "Home", ref: "home", icon: "bx bx-home-alt-2" }, { label: "Residences", ref: "popular", icon: "bx bx-building-house" }, { label: "Value", ref: "value", icon: "bx bx-award" }, { label: "Contact", ref: "contact", icon: "bx bx-phone" }]

//- Data

-const valueData = [{ title: "9K", descr: "Premium<br />Product" }, { title: "28K", descr: "Happy<br />Customers" }, { title: "2K", descr: "Awards<br />Winning" }]

//- Cards

-const popularCards = [{ price: "<span>$</span>66,356", title: "Garden City Assat", descr: "Street The Garden City Of Miraflores, Lima - Perú Av. Sol #9876", img: "popular1.jpg" }, { price: "<span>$</span>35,159", title: "Gables Luxurious House", descr: "Street The Garden City Of Miraflores, Lima - Perú Av. Sol #9876", img: "popular2.jpg" }, { price: "<span>$</span>75,043", title: "Garden Orchard City", descr: "Street The Garden City Of Miraflores, Lima - Perú Av. Sol #9876", img: "popular3.jpg" }, { price: "<span>$</span>62,024", title: "Luxurious City Garden", descr: "Street The Garden City Of Miraflores, Lima - Perú Av. Sol #9876", img: "popular4.jpg" }, { price: "<span>$</span>47,043", title: "Aliva Private Garden", descr: "Street The Garden City Of Miraflores, Lima - Perú Av. Sol #9876", img: "popular5.jpg" }]

-const contactCards = [{ icon: "bx bxs-phone-call", title: "Call", descr: "022.321.165.19", btnText: "Call Now" }, { icon: "bx bxs-message-rounded-dots", title: "Chat", descr: "022.321.165.19", btnText: "Chat Now" }, { icon: "bx bxs-video", title: "Video Call", descr: "022.321.165.19", btnText: "Video Call Now" }, { icon: "bx bxs-envelope", title: "Message", descr: "022.321.165.19", btnText: "Message Now" }]

//- Items

-const logos = ["logo1.png", "logo2.png", "logo3.png", "logo4.png"]

-const valueAccordion = [{ icon: "bx bxs-shield-x", title: "Best interest rates on the market", descr: "Price we provides is the best for you, we guarantee no price changes on your property due to various unexpected costs that may come." }, { icon: "bx bxs-x-square", title: "Prevent unstable prices", descr: "Price we provides is the best for you, we guarantee no price changes on your property due to various unexpected costs that may come." }, { icon: "bx bxs-bar-chart-square", title: "Best prices on the market", descr: "Price we provides is the best for you, we guarantee no price changes on your property due to various unexpected costs that may come." }, { icon: "bx bxs-check-square", title: "Security of your data", descr: "Price we provides is the best for you, we guarantee no price changes on your property due to various unexpected costs that may come." }]

//- Sections
