// CONTACT
section.contact.section#contact

  // CONTACT CONTAINER
  .contact__container.container.grid

    // CONTACT IMAGES
    .contact__images 
      .contact__orbe

      .contact__img 
        img(src="@img/contact.png", alt="contact image")

    // CONTACT CONTENT
    .contact__content

      // CONTACT DATA
      .contact__data
        span.section__subtitle Contact Us
        h3.section__title
          |Easy to Contact us
          span .

        .contact__description.
          Is there a problem finding your dream home? Need a guide in buying first home? or need a consultation on residential issues? just contact us.

      // CONTACT CARD
      .contact__card

        each card in contactCards
          // CARD BOX
          .contact__card-box

            // CARD INFO 
            .contact__card-info
              i(class=`${card.icon}`)

              div
                h3.contact__card-title= card.title
                p.contact__card-description= card.descr

            button.button.contact__card-button= card.btnText
