// SUBSCRIBE
section.subscribe.section

  // SUBSCRIBE CONTAINER
  .subscribe__container.container
    h2.subscribe__title Get Started with Holux

    p.subscribe__description.
      Subscribe and find super attractive price quotes from us, Find your residence soon

    a.button.subscribe__button(href="#") Get Started
