// Modules

@use '../../base/media-lib'

/* SECTION

.section
  padding: 4.5rem 0 2rem

  // small devices
  +media-lib.breakpoint($br: media-lib.$xs, $media-feature: 'max-width')
    padding: 3.5rem 0 1rem

.section__title
  font-size: var(--h2-font-size)
  margin-bottom: 1rem

.section__title span
  color: var(--second-color)

.section__subtitle
  display: block
  font-size: var(--small-font-size)
  color: var(--second-color)
