// Modules

@use '../base/media-lib'

/* LOGOS

.logos__container
  grid-template-columns: repeat(2, 1fr)
  justify-items: center
  gap: 3rem 2rem
  padding-top: 2rem
  
  // small devices
  +media-lib.breakpoint($br: media-lib.$xxs, $media-feature: 'max-width')
    gap: 2rem 1rem

  // medium devices
  +media-lib.breakpoint($br: media-lib.$md)
    grid-template-columns: repeat(4, max-content)
    justify-content: center

.logos__img img
  height: 60px
  transition: .3s
  cursor: pointer
  opacity: .4

  &:hover
    opacity: .8
