/* MICRO CLASSES

// Handle header styles on scroll

.scroll-header
  background-color: var(--body-color)
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, .1)

.scroll-header .nav__logo
  color: var(--first-color)

// Handle active accordion item styles

.accordion-open
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1)

.accordion-open .value__accordion-icon
  box-shadow: 0 4px 4px hsla(228, 66%, 45%, .1)

.accordion-open .value__accordion-arrow
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, .1)

.accordion-open .value__accordion-arrow i
  transform: rotate(-180deg)
